.heading-font {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.body-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
a:hover,
a:focus {
  color: #fcbd20;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
    padding-top: 15px;
}

#services{
	color: #000;
}
.navbar-default .nav > li > a {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default.affix {
    background-color: #fff;
    border-color: rgba(34,34,34,.1);
}
.navbar-default, .navbar-default .navbar-header .navbar-brand, h1, h2, h3, h4, h5, h6 {
    font-family: Catamaran,Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    }

    body, html {
    height: 100%;
    width: 100%;
}
selection {
    color: #fff;
    text-shadow: none;
    background: #222;
}
@media (min-width: 768px)
new-age.min.css:5
header {
    min-height: 100%;
}
.h1, .h2, h1, h2 {
    margin-top: 100px;
    margin-bottom: 40px;
    color: black;
}

h3{
	margin-top: 0px;
    margin-bottom: 30px;
}

#imgservices{
	width: 580px;
}

#findpro{
	padding-top: 20px;
	font-size: 20px;
	color: black;
}
.icon{
  font-size: 2.4em;
  color: #4CAF50;
}
.info-title{
  font-size: 25px;
  color: #FF9800;
}
.form{
  width: 400px;
}
.card-panel{
  width: 450px;
  background: rgba(158, 158, 158, 0.16);
  border-radius: 10px;
  padding: 25px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: 350px;
    padding-top: 0px;
}
.card-signup .header {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px 0;
    background: #FF9800;
}

header {
  position: relative;
  width: 100%;
  min-height: 649px;
  overflow-y: hidden;
   background-image: url("images/exteriorexact.jpeg");
  /*background: #7b4397;*/
  /* fallback for old browsers */
  /*background: url("images/bg-pattern.png"), -webkit-linear-gradient(to left, #ffd740, #ef6c00);*/
  /* Chrome 10-25, Safari 5.1-6 */
  /*background: url("images/bg-pattern.png"), linear-gradient(to left, #833ab4 , #fd1d1d , #fcb045);*/
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
 
}
.col-sm-5 {
    width: 41.66666667%;
    height: 655px;
}

header .device-container {
  max-width: 300px;
  margin: 0 auto 100px;
}
header .device-container .screen img {
  border-radius: 3px;
  padding-top: 0px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    /*max-width: 1025px;*/
    height: 600px;
}

section.download {
  padding: 45px 0;
  position: relative;
}
section.download h2 {
  margin-top: 0;
  font-size: 50px;
}
section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}
section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}
section.download .badges .badge-link img {
  height: 60px;
}
@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  section.download h2 {
    font-size: 50px;
  }
}




section.jointeam {
  padding: 45px 0;
  position: relative;
  background-color: #337B18;
}
section.jointeam h2 {
  margin-top: 0;
  font-size: 50px;
}

@media (min-width: 768px) {
  section.jointeam h2 {
    font-size: 50px;
  }
}

.carousel {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 600px;
}

.bg-primary {
    color: #fff;
    background-color: #ef6c00;
}

section.contact ul.list-social {
  margin-bottom: 50px;
}
section.contact ul.list-social li a {
  display: block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 100%;
  color: white;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    text-align: center;
}
h2{
padding-left: 0;
    margin-left: -5px;
    list-style: none;
    text-align: center;	
}
section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}
section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}
section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}
section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}
section.contact ul.list-social li.social-instagram a {
  background-color: #dd4b39;
}
section.contact ul.list-social li.social-instagram a:hover {
  background-color: #d73925;
}
footer {
  background-color: #222222;
  padding: 25px 0;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}
footer p {
  font-size: 12px;
  margin: 0;
}
footer ul {
  margin-bottom: 0;
}
footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}

.text-primary {
  color: #fdcc52;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background-color: #fdcc52;
  border-color: #fdcc52;
}
.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
}
.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-width: 375px){
  /* some CSS here */
/*.navbar-default .nav > li > a {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
}
.navbar-default .navbar-brand {
    color: black;
}
.h1, .h2, h1, h2 {
    margin-top: 150px;
    margin-bottom: 40px;
    color: black;
}
#findpro {
    padding-top: 20px;
    font-size: 25px;
    color: black;
    margin-left: 400px;
    margin-top: -300px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    margin-top: 20px;
}
.navbar-brand {
    float: left;
    height: 60px;
    padding: 15px 15px;
    font-size: 81px;
    line-height: 20px;
}
p {
    font-size: 33px;
    line-height: 1.5;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 0px;
}
section.download {
    padding: 100px 0;
    position: relative;
}
section.jointeam {
    padding: 100px 0;
    position: relative;
    background-color: #337B18;
}
.card-panel {
    width: 450px;
    background: rgba(158, 158, 158, 0.16);
    border-radius: 10px;
    padding: 25px;
    margin-left: -210px;
}*/
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
}

